<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675818629125-ffdapc7shnseaatj08difidvjkkggm44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675818629125-ffdapc7shnseaatj08difidvjkkggm44</string>
	<key>API_KEY</key>
	<string>AIzaSyDZn-F9lG0QTtTQu2aI1Gjnyv5XY_seE9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>675818629125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterOutfit.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>androidoutfit</string>
	<key>STORAGE_BUCKET</key>
	<string>androidoutfit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675818629125:ios:088eda6a1327ede262146c</string>
</dict>
</plist>